
@import "bootstrap/dist/css/bootstrap.min.css";

h1{
    color: green;
    font-size: 2em;

}
.verde{
    background-color: darkgreen;
    color: wheat;
}

.rosso{
    background-color: brown;
    color: burlywood;
}